{% extends "admin/change_form.html" %}

{% block extrahead %}
  {{ block.super }}
  <script id="variants-data-json" type="application/json">{{ variants_json|default:"[]"|safe }}</script>
  <script id="selected-options-json" type="application/json">{{ selected_json|default:"[]"|safe }}</script>
  <script id="all-variants-json" type="application/json">{{ all_variants_json|default:"{}"|safe }}</script>
  <script id="existing-skus-json" type="application/json">{{ existing_skus_json|default:"[]"|safe }}</script>
{% endblock %}
